<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Media.create_media.title' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="createMedia()" novalidate [formGroup]="createMediaForm">
    <!-- rich text editor -->
    <ion-grid class="ion-padding ion-content">
      <ion-row>
        <ion-col size-xl="4" size-lg="6" size-md="6" size-xs="12" size-sm="6">
          <ion-item lines="none">
            <div>
              <input
                type="file"
                name="fileupload"
                value="fileupload"
                (change)="onChange($event.target.files)"
                #f
                style="display: none"
                formControlName="thumbnail"
                accept="image/png, image/jpeg"
                multiple
              />
              <ion-button (click)="f.click()">
                {{'Media.create_media.file' | translate}}
              </ion-button>
              <ion-text color="danger">*</ion-text>
              <div class="custom-span">
                <span class=""
                  >Only png, jpeg, jpg are allowed. (Portrait size – A4)</span
                >
              </div>
            </div>
          </ion-item>
          <p class="error" *ngIf="!checkImage && checkSubmit">
            {{'Media.create_media.file_err' | translate}}
          </p>
        </ion-col>
        <ion-col
          *ngFor="let item of images; index as index"
          size-xs="6"
          size-sm="3"
          size-md="3"
          size-lg="3"
          size-xl="2"
        >
          <ion-item lines="none">
            <ion-thumbnail class="margin-auto-image-multi">
              <ion-img [src]="item"></ion-img>
            </ion-thumbnail>
          </ion-item>
          <div class="text-center">
            <ion-button
              class="margin-auto-button-delete"
              size="small"
              fill="outline"
              (click)="zoomPicture(item)"
              title="Edit media"
            >
              <ion-icon name="eye"></ion-icon>
            </ion-button>
            <ion-button
              class="margin-auto-button-delete"
              size="small"
              fill="outline"
              (click)="deleteImage(index)"
              title="Edit media"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input name="name" required formControlName="name"></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createMediaForm.controls['name'].touched && createMediaForm.hasError('required', 'name')"
          >
            {{'Media.create_media.name_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createMediaForm.controls['name'].touched && checkError && createMediaForm.hasError('required', 'name')"
          >
            {{'Media.create_media.name_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-xl="6" size-lg="6" size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.author' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input name="author" formControlName="author"></ion-input>
          </ion-item>

          <p
            class="error"
            *ngIf="createMediaForm.controls['author'].touched && createMediaForm.hasError('required', 'author')"
          >
            {{'Media.create_media.author_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createMediaForm.controls['author'].touched && checkError && createMediaForm.hasError('required', 'author')"
          >
            {{'Media.create_media.author_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset" class="margin-top-picker">
            <ion-label class="custom-label-picker" position="floating"
              >{{'Media.create_media.release_date' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <input
              class="time-picker"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              placeholder=""
              name="push_date"
              formControlName="push_date"
            />
            <owl-date-time #dt1></owl-date-time>
          </ion-item>
          <p
            class="error"
            *ngIf="createMediaForm.controls['push_date'].touched && createMediaForm.hasError('required', 'push_date')"
          >
            {{'Media.create_media.release_date_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createMediaForm.controls['push_date'].touched && checkError && createMediaForm.hasError('required', 'push_date')"
          >
            {{'Media.create_media.release_date_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.is_active' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-select
              name="isActive"
              required
              formControlName="isActive"
              [(ngModel)]="is_active"
            >
              <p *ngFor="let item of isActiveArr">
                <ion-select-option [value]="item.value"
                  >{{item.name}}</ion-select-option
                >
              </p>
            </ion-select>
          </ion-item>
          <p
            class="error"
            *ngIf="createMediaForm.controls['isActive'].touched && createMediaForm.hasError('required', 'isActive')"
          >
            {{'Media.create_media.is_active_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createMediaForm.controls['isActive'].touched && checkError && createMediaForm.hasError('required', 'isActive')"
          >
            {{'Media.create_media.is_active_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.media_type' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <!-- [(ngModel)]="mediaType" -->
            <ion-select
              name="media_type"
              required
              [(ngModel)]="mediaType"
              formControlName="media_type"
              (ionChange)="changeMediaType()"
            >
              <p *ngFor="let item of mediaTypeArr">
                <ion-select-option [value]="item.value"
                  >{{item.name}}</ion-select-option
                >
              </p>
            </ion-select>
          </ion-item>
          <p
            class="error"
            *ngIf="createMediaForm.controls['media_type'].touched && createMediaForm.hasError('required', 'media_type')"
          >
            {{'Media.create_media.media_type_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createMediaForm.controls['media_type'].touched && checkError && createMediaForm.hasError('required', 'media_type')"
          >
            {{'Media.create_media.media_type_err' | translate}}
          </p>
        </ion-col>

        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.isbn' | translate}}</ion-label
            >
            <ion-input name="isbn" formControlName="isbn"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item
            class="cursor-pointer md:mt-[9px] md:mb-2"
            (click)="chooseCategory()"
          >
            <div class="h-full w-full">
              <ion-label class="custom-label">
                {{'Media.create_media.category' | translate}}
                <span style="color: red">*</span>
              </ion-label>
              <span *ngIf="mainCategory.value"> {{mainCategory.value}} </span>
            </div>
          </ion-item>
          <p *ngFor="let item of specificCategory?.value">{{item?.name}}</p>
          <p
            class="error"
            *ngIf="checkError && createMediaForm.hasError('required', 'mainCategory')"
          >
            {{'Media.create_media.main_category_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="checkError && createMediaForm.hasError('required', 'specificCategory')"
          >
            {{'Media.create_media.specific_category_err' | translate}}
          </p>
        </ion-col>

        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating">
              {{'Media.create_media.price_per_copy' | translate}}
            </ion-label>
            <ion-input
              name="price_per_copy"
              type="number"
              inputmode="numeric"
              formControlName="price_per_copy"
            ></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf=" createMediaForm.hasError('required','price_per_copy') "
          >
            {{'Media.create_media.price_required' | translate}}
          </p>
          <p
            class="error"
            *ngIf=" createMediaForm.hasError('min','price_per_copy') "
          >
            {{'Media.create_media.price_min' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-item lines="none">
        <ion-grid>
          <ion-col
            class="ion-align-self-center"
            size-xl="6"
            size-lg="6"
            size-md="6"
            size-xs="12"
            size-sm="6"
          >
            <ion-row>
              <div class="flex items-center">
                <input
                  type="file"
                  name="file_media"
                  value="fileupload111"
                  (change)="onChangeMedia($event.target.files)"
                  #g
                  style="display: none"
                  [accept]="acceptType"
                />
                <ion-button (click)="g.click()">
                  {{'Media.create_media.file_media' | translate}}
                </ion-button>
                <ion-text color="danger">*</ion-text>
                <ion-label>{{title}}</ion-label>
              </div>
            </ion-row>
            <ion-row class="custom-span">
              <span> Only {{formatType}} is allowed. </span>
            </ion-row>
            <p class="error" *ngIf="!checkImage1 && checkSubmit">
              {{'Media.create_media.file_media_err' | translate}}
            </p>

            <p class="error" *ngIf="check_file_type">
              {{'Media.create_media.file_media_valid_err' | translate}}
            </p>

            <p class="error" *ngIf="check_file_size">
              {{'Media.create_media.max_file_err' | translate}}
            </p>
          </ion-col>
        </ion-grid>
      </ion-item>

      <div>
        <div class="flex items-center mb-3 pl-1">
          <ion-checkbox
            color="primary"
            (ionChange)="checkTerm($event)"
          ></ion-checkbox>
          <ion-label class="pl-2"
            >I certify that Media don't have any adult content.</ion-label
          >
        </div>
        <p class="error" *ngIf="checkSubmit && !term">
          {{'Media.create_media.term_err' | translate}}
        </p>
      </div>

      <ion-row>
        <ion-button class="btn-submit" type="submit" [disabled]="uploading">
          <ion-icon slot="end" name="save"></ion-icon>
          {{'Media.create_media.btn_upload' | translate}}
        </ion-button>
        <ion-spinner
          name="lines"
          style="margin-top: 10px"
          color="primary"
          *ngIf="uploading"
        ></ion-spinner>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label>{{labelProgress}}</ion-label>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="uploading">
        <ion-progress-bar
          color="primary"
          [value]="progress"
          class="percent-progress"
        ></ion-progress-bar>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<div [style.display]="image?'block':'none'" class="zoom-image-modal">
  <div
    (click)="closeZoom()"
    class="text-white cursor-pointer text-xl font-medium text-right p-4 absolute top-0 right-0"
  >
    Close
  </div>
  <div class="zoom-image">
    <img [src]="image" alt="" class="modal-zoom-content" />
  </div>
</div>
