<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Change_password.title' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding ion-content">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size="6">
        <form (ngSubmit)="onSubmit()" novalidate [formGroup]="form">
          <ion-text color="success" *ngIf="state.success">
            <!-- Change password successfully -->
            {{'Change_password.change_success' | translate}}
          </ion-text>

          <ion-item>
            <ion-label position="floating"
              >{{'Change_password.current_password' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              (keyup.enter)="onSubmit()"
              type="password"
              formControlName="password"
            ></ion-input>
          </ion-item>

          <div
            *ngIf="password.invalid && (state.isFormSubmitted || password.dirty || password.touched)"
            padding
          >
            <ion-text color="danger" *ngIf="password.errors.required">
              <!-- Password is required -->
              {{'Change_password.err_current_password' | translate}}
            </ion-text>
            <!-- <ion-text color="danger" *ngIf="password.errors.minlength">
              Password must be at least 6 characters long.
            </ion-text> -->
            <!-- <div *ngIf="name.errors.forbiddenName">
              Name cannot be Bob.
            </div> -->
          </div>
          <ion-text color="danger" *ngIf="state.error">
            {{state.error}}
          </ion-text>

          <ion-item>
            <ion-label position="floating"
              >{{'Change_password.new_password' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              (keyup.enter)="onSubmit()"
              type="password"
              formControlName="new_password"
            ></ion-input>
          </ion-item>

          <div
            *ngIf="newPassword.invalid && (state.isFormSubmitted || newPassword.dirty || newPassword.touched)"
            padding
          >
            <ion-text color="danger" *ngIf="newPassword.errors.required">
              <!-- New password is required -->
              {{'Change_password.err_new_password' | translate}}
            </ion-text>
            <ion-text color="danger" *ngIf="newPassword.errors.minlength">
              <!-- New password must be at least 6 characters long. -->
              {{'Change_password.err_new_password_min' | translate}}
            </ion-text>
          </div>

          <ion-item>
            <ion-label position="floating"
              >{{'Change_password.confirm_password' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              (keyup.enter)="onSubmit()"
              type="password"
              formControlName="confirm_password"
            ></ion-input>
          </ion-item>

          <div class="ion-padding-top ion-text-right">
            <ion-button type="submit" class="ion-no-margin"
              >{{'Change_password.btn_change' | translate}}</ion-button
            >
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
