.error {
  color: red;
  margin: 5px 0px 0px 0px;
}

ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
}

// .btn-submit{
//     margin-left: 20px;
// }

.margin-auto-img ion-thumbnail {
  width: 250px !important;
  margin: 5px auto !important;
  height: 150px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .margin-auto-img ion-thumbnail {
    width: 250px !important;
    margin: 0px !important;
    height: 150px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 769px) {
  .margin-auto-img ion-thumbnail {
    width: 250px !important;
    margin: 0px !important;
    height: 150px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .margin-auto-img ion-thumbnail {
    width: 250px !important;
    margin: 0px !important;
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .margin-auto-img ion-thumbnail {
    width: 250px !important;
    margin: 0px !important;
    height: 150px;
  }
}
:host ::ng-deep {
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
