<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Teacher.create_teacher.title_create' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    (ngSubmit)="createTeacher()"
    id="formTeacher"
    novalidate
    [formGroup]="createTeacherForm"
  >
    <ion-grid class="ion-padding ion-content">
      <ion-row>
        <ion-col size-xl="3" size-lg="4" size-md="4" size-xs="12" size-sm="6">
          <ion-item lines="none">
            <input
              type="file"
              name="fileupload"
              value="fileupload"
              (change)="onChange($event.target.files)"
              #f
              style="display: none"
              formControlName="logo"
              accept="image/png, image/jpeg"
            />
            <ion-button (click)="f.click()">
              <!-- Please Choose file -->
              {{'Teacher.create_teacher.file' | translate}}
            </ion-button>
            <ion-label *ngIf="check_file_type">{{title}}</ion-label>
          </ion-item>
          <p class="error" *ngIf="check_file_type">
            {{'Subscriber.create_subscriber.err_type_file' | translate}}
          </p>
        </ion-col>
        <ion-col
          size-xl="3"
          size-lg="4"
          size-md="4"
          size-xs="12"
          size-sm="6"
          class="margin-auto-img"
          *ngIf="img.src != '' && !check_file_type"
        >
          <ion-item lines="none">
            <!-- <ion-label>Logo</ion-label> -->
            <ion-thumbnail>
              <ion-img [src]="img.src"></ion-img>
            </ion-thumbnail>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.username' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              name="username"
              required
              formControlName="username"
            ></ion-input>
          </ion-item>

          <p
            class="error"
            *ngIf="createTeacherForm.controls['username'].touched && createTeacherForm.hasError('required', 'username')"
          >
            {{'Teacher.create_teacher.err_username' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['username'].touched && checkError && createTeacherForm.hasError('required', 'username')"
          >
            {{'Teacher.create_teacher.err_username' | translate}}
          </p>

          <p
            class="error"
            *ngIf="!createTeacherForm.controls['username'].touched && createTeacherForm.hasError('pattern', 'username')"
          >
            {{'Teacher.create_teacher.username_valid_err' | translate}}
          </p>

          <p
            class="error"
            *ngIf="createTeacherForm.controls['username'].touched && createTeacherForm.hasError('pattern', 'username')"
          >
            {{'Teacher.create_teacher.username_valid_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.password' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [type]="getType()"
              name="password"
              required
              formControlName="password"
            ></ion-input>
            <ion-icon
              class="ion-align-items-center"
              [name]="getName()"
              slot="end"
              (click)="toggleTextPassword()"
            ></ion-icon>
          </ion-item>
          <p
            class="error"
            *ngIf="createTeacherForm.controls['password'].touched && createTeacherForm.hasError('required', 'password')"
          >
            {{'Teacher.create_teacher.err_password' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['password'].touched && checkError && createTeacherForm.hasError('required', 'password')"
          >
            {{'Teacher.create_teacher.err_password' | translate}}
          </p>

          <p
            class="error"
            *ngIf="createTeacherForm.hasError('minlength','password')"
          >
            {{'Teacher.create_teacher.err_password_min' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              name="library"
              required
              formControlName="name"
            ></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createTeacherForm.controls['name'].touched && createTeacherForm.hasError('required', 'name')"
          >
            {{'Teacher.create_teacher.err_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['name'].touched && checkError && createTeacherForm.hasError('required', 'name')"
          >
            {{'Teacher.create_teacher.err_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createTeacherForm.hasError('maxlength','name')"
          >
            {{'Teacher.create_teacher.name_max_length_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.short_name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              name="short_name"
              required
              formControlName="short_name"
            ></ion-input
          ></ion-item>
          <p
            class="error"
            *ngIf="createTeacherForm.controls['short_name'].touched && createTeacherForm.hasError('required', 'short_name')"
          >
            {{'Teacher.create_teacher.err_short_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['short_name'].touched && checkError && createTeacherForm.hasError('required', 'short_name')"
          >
            {{'Teacher.create_teacher.err_short_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createTeacherForm.hasError('maxlength','short_name')"
          >
            {{'Teacher.create_teacher.short_max_length_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.phone' | translate}}</ion-label
            >
            <ion-input
              [value]="phone"
              type="text"
              name="phone"
              [(ngModel)]="phone"
              formControlName="phone"
              (ionChange)="checkPhone()"
            >
            </ion-input>
          </ion-item>
          <p class="error" *ngIf="!checkPhoneNumber">
            <!-- Email is required -->
            {{'Library.create_library.err_phone_number' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.email' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              name="email"
              required
              formControlName="email"
            ></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createTeacherForm.controls['email'].touched && createTeacherForm.hasError('required', 'email')"
          >
            {{'Teacher.create_teacher.err_email' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['email'].touched && checkError && createTeacherForm.hasError('required', 'email')"
          >
            {{'Teacher.create_teacher.err_email' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createTeacherForm.hasError('email', 'email') && createTeacherForm.controls['email'].touched && !createTeacherForm.hasError('required', 'email')"
          >
            {{'Teacher.create_teacher.err_is_email' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.address' | translate}}</ion-label
            >
            <ion-input name="address" formControlName="address"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.active' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-select
              [value]="isActive"
              name="isActive"
              [(ngModel)]="isActive"
              required
              formControlName="isActive"
            >
              <p *ngFor="let item of isActiveArr">
                <ion-select-option [value]="item.value"
                  >{{item.name}}</ion-select-option
                >
              </p>
            </ion-select>
          </ion-item>
          <p
            class="error"
            *ngIf="createTeacherForm.controls['isActive'].touched && createTeacherForm.hasError('required', 'isActive')"
          >
            {{'Teacher.create_teacher.err_active' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createTeacherForm.controls['isActive'].touched && checkError && createTeacherForm.hasError('required', 'isActive')"
          >
            {{'Teacher.create_teacher.err_active' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Teacher.create_teacher.storage' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input required formControlName="storage" type="number">
            </ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="storage.touched && createTeacherForm.hasError('required', 'storage') || checkError && createTeacherForm.hasError('required', 'storage')"
          >
            {{'Teacher.create_teacher.storage_required_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="storage.touched && createTeacherForm.hasError('max', 'storage')"
          >
            {{'Teacher.create_teacher.storage_max_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="storage.touched && createTeacherForm.hasError('min', 'storage')"
          >
            {{'Teacher.create_teacher.storage_min_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- <ion-item lines="none"> -->
          <ion-button class="btn-submit" type="submit">
            <ion-icon slot="end" name="save"></ion-icon>
            <!-- Create teacher -->
            {{'Teacher.create_teacher.btn_create' | translate}}
          </ion-button>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
