<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Publisher.create_publisher.title_create' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    (ngSubmit)="createPublisher()"
    novalidate
    [formGroup]="createPublisherForm"
  >
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col size-xl="3" size-lg="4" size-md="4" size-xs="12" size-sm="6">
          <ion-item lines="none">
            <div class="flex flex-col">
              <div>
                <input
                  type="file"
                  name="fileupload"
                  value="fileupload"
                  (change)="onChange($event.target.files)"
                  #f
                  style="display: none"
                  formControlName="logo"
                  accept="image/png, image/jpeg"
                />
                <ion-button (click)="f.click()">
                  <!-- Please Choose file -->
                  {{'Publisher.create_publisher.file' | translate}}
                </ion-button>
                <ion-label *ngIf="check_file_type">{{title}}</ion-label>
              </div>
              <div class="custom-span">
                <span class="">Only png, jpeg, jpg are allowed.</span>
              </div>
            </div>
          </ion-item>
          <p class="error" *ngIf="check_file_type">
            {{'Subscriber.create_subscriber.err_type_file' | translate}}
          </p>
        </ion-col>
        <ion-col
          size-xl="3"
          size-lg="4"
          size-md="4"
          size-xs="12"
          size-sm="6"
          class="margin-auto-img"
          *ngIf="img.src != '' && !check_file_type"
        >
          <ion-item lines="none">
            <!-- <ion-label>Logo</ion-label> -->
            <div class="flex flex-col items-center">
              <ion-thumbnail>
                <ion-img
                  [src]="img.src"
                  class="object-contain h-full"
                ></ion-img>
              </ion-thumbnail>
              <div class="text-center">
                <ion-button
                  class="margin-auto-button-delete"
                  size="small"
                  fill="outline"
                  (click)="zoomPicture(img.src)"
                  title="Edit media"
                >
                  <ion-icon name="eye"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.username' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [value]="username"
              name="username"
              [(ngModel)]="username"
              required
              formControlName="username"
            ></ion-input>
          </ion-item>

          <p
            class="error"
            *ngIf="createPublisherForm.controls['username'].touched && createPublisherForm.hasError('required', 'username')"
          >
            <!-- Username is required -->
            {{'Publisher.create_publisher.err_username' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['username'].touched && checkError && createPublisherForm.hasError('required', 'username')"
          >
            <!-- Username is required -->
            {{'Publisher.create_publisher.err_username' | translate}}
          </p>

          <p
            class="error"
            *ngIf="!createPublisherForm.controls['username'].touched && createPublisherForm.hasError('pattern', 'username')"
          >
            {{'Publisher.create_publisher.username_valid_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['username'].touched && createPublisherForm.hasError('pattern', 'username')"
          >
            {{'Publisher.create_publisher.username_valid_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.password' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [type]="getType()"
              [value]="password"
              name="password"
              [(ngModel)]="password"
              required
              formControlName="password"
            >
            </ion-input>
            <ion-icon
              class="ion-align-items-center"
              [name]="getName()"
              slot="end"
              (click)="toggleTextPassword()"
            ></ion-icon>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['password'].touched && createPublisherForm.hasError('required', 'password')"
          >
            <!-- Password is required -->
            {{'Publisher.create_publisher.err_password' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['password'].touched && checkError && createPublisherForm.hasError('required', 'password')"
          >
            <!-- Password is required -->
            {{'Publisher.create_publisher.err_password' | translate}}
          </p>

          <p
            class="error"
            *ngIf="createPublisherForm.hasError('minlength','password')"
          >
            <!-- Password must be at least 6 characters. -->
            {{'Publisher.create_publisher.err_password_min' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [value]="name"
              name="library"
              [(ngModel)]="name"
              required
              formControlName="name"
            >
            </ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['name'].touched && createPublisherForm.hasError('required', 'name')"
          >
            <!-- Name is required -->
            {{'Publisher.create_publisher.err_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['name'].touched && checkError && createPublisherForm.hasError('required', 'name')"
          >
            <!-- Name is required -->
            {{'Publisher.create_publisher.err_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createPublisherForm.hasError('maxlength','name')"
          >
            <!-- Password must be at least 6 characters. -->
            {{'Publisher.create_publisher.name_max_length_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.short_name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [value]="short_name"
              name="short_name"
              [(ngModel)]="short_name"
              required
              formControlName="short_name"
            ></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['short_name'].touched && createPublisherForm.hasError('required', 'short_name')"
          >
            <!-- Short name is required -->
            {{'Publisher.create_publisher.err_short_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['short_name'].touched && checkError && createPublisherForm.hasError('required', 'short_name')"
          >
            <!-- Short name is required -->
            {{'Publisher.create_publisher.err_short_name' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createPublisherForm.hasError('maxlength','short_name')"
          >
            <!-- Password must be at least 6 characters. -->
            {{'Publisher.create_publisher.short_max_length_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.address' | translate}}</ion-label
            >
            <ion-input
              [value]="address"
              name="address"
              [(ngModel)]="address"
              formControlName="address"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.email' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [value]="email"
              name="email"
              [(ngModel)]="email"
              required
              formControlName="email"
            >
            </ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['email'].touched && createPublisherForm.hasError('required', 'email')"
          >
            <!-- Email is required -->
            {{'Publisher.create_publisher.err_email' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['email'].touched && checkError && createPublisherForm.hasError('required', 'email')"
          >
            <!-- Email is required -->
            {{'Publisher.create_publisher.err_email' | translate}}
          </p>
          <p
            class="error"
            *ngIf="createPublisherForm.hasError('email', 'email') && createPublisherForm.controls['email'].touched && !createPublisherForm.hasError('required', 'email')"
          >
            <!-- Please enter a valid email address -->
            {{'Publisher.create_publisher.err_is_email' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.phone' | translate}}</ion-label
            >
            <ion-input
              type="text"
              [value]="phone"
              name="phone"
              [(ngModel)]="phone"
              formControlName="phone"
              (ionChange)="checkPhone()"
            >
            </ion-input>
          </ion-item>
          <p class="error" *ngIf="!checkPhoneNumber">
            <!-- Email is required -->
            {{'Library.create_library.err_phone_number' | translate}}
          </p>
        </ion-col>

        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.active' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-select
              [value]="isActive"
              name="isActive"
              [(ngModel)]="isActive"
              required
              formControlName="isActive"
            >
              <p *ngFor="let item of isActiveArr">
                <ion-select-option [value]="item.value"
                  >{{item.name}}</ion-select-option
                >
              </p>
            </ion-select>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['isActive'].touched && createPublisherForm.hasError('required', 'isActive')"
          >
            <!-- Active is required -->
            {{'Publisher.create_publisher.err_active' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['isActive'].touched && checkError && createPublisherForm.hasError('required', 'isActive')"
          >
            <!-- Active is required -->
            {{'Publisher.create_publisher.err_active' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Publisher.create_publisher.storage' | translate}} (GB)
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              type="text"
              name="storage"
              [(ngModel)]="storage"
              required
              formControlName="storage"
              (ionChange)="checkStorage()"
            ></ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="createPublisherForm.controls['storage'].touched && createPublisherForm.hasError('required', 'storage')"
          >
            {{'Publisher.create_publisher.storage_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!createPublisherForm.controls['storage'].touched && checkError && createPublisherForm.hasError('required', 'storage')"
          >
            {{'Publisher.create_publisher.storage_err' | translate}}
          </p>
          <p class="error" *ngIf="!checkStorageNumber">
            {{'Publisher.create_publisher.err_storage_number' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!checkStorageIndex && !createPublisherForm.hasError('required', 'storage')"
          >
            <!-- Email is required -->
            {{'Publisher.update_publisher.err_storage_index' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <!-- <ion-item lines="none"> -->
          <ion-button class="btn-submit-create" type="submit">
            <ion-icon slot="end" name="save"></ion-icon>
            <!-- Create publisher -->
            {{'Publisher.create_publisher.btn_create' | translate}}
          </ion-button>
          <!-- </ion-item> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<div [style.display]="image?'block':'none'" class="zoom-image-modal">
  <div
    (click)="closeZoom()"
    class="text-white cursor-pointer text-xl font-medium text-right p-4 absolute top-0 right-0"
  >
    Close
  </div>
  <div class="zoom-image">
    <img [src]="image" alt="" class="modal-zoom-content" />
  </div>
</div>
