<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Learning_material.update_material.title' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form
    (ngSubmit)="updateLearningMaterial()"
    novalidate
    [formGroup]="updateLearningMaterialForm"
  >
    <ion-grid class="ion-padding ion-content">
      <ion-row>
        <ion-col size-xl="3" size-lg="4" size-md="4" size-xs="12" size-sm="6">
          <ion-item lines="none">
            <div>
              <input
                type="file"
                name="fileupload"
                value="fileupload"
                (change)="onChange($event.target.files)"
                #f
                style="display: none"
                accept="image/png, image/jpeg"
                multiple
              />
              <ion-button (click)="f.click()">
                {{'Learning_material.update_material.file' | translate}}
              </ion-button>
              <ion-text color="danger">*</ion-text>
              <div class="custom-span">
                <span class=""
                  >Only png, jpeg, jpg are allowed. (Portrait size – A4)</span
                >
              </div>
            </div>
          </ion-item>
          <p class="error" *ngIf="!checkImage && checkSubmit">
            {{'Learning_material.update_material.file_err' | translate}}
          </p>
        </ion-col>
        <ion-col
          *ngFor="let item of images; index as index"
          size-xs="6"
          size-sm="3"
          size-md="3"
          size-lg="3"
          size-xl="2"
        >
          <ion-item lines="none">
            <ion-thumbnail class="margin-auto-image-multi">
              <ion-img
                [src]="item.image"
                class="object-contain h-full"
              ></ion-img>
            </ion-thumbnail>
          </ion-item>
          <div class="text-center">
            <ion-button
              class="margin-auto-button-delete"
              size="small"
              fill="outline"
              (click)="zoomPicture(item.image)"
              title="Edit media"
            >
              <ion-icon name="eye"></ion-icon>
            </ion-button>
            <ion-button
              class="margin-auto-button-delete"
              size="small"
              fill="outline"
              (click)="deleteImage(index)"
              title="Edit media"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col
          *ngFor="let item of images_change; index as index"
          size-xs="6"
          size-sm="3"
          size-md="3"
          size-lg="3"
          size-xl="2"
        >
          <ion-item lines="none">
            <ion-thumbnail class="margin-auto-image-multi">
              <ion-img [src]="item"></ion-img>
            </ion-thumbnail>
          </ion-item>
          <ion-item>
            <ion-button
              class="margin-auto-button-delete"
              size="small"
              fill="outline"
              (click)="deleteImage(index)"
              title="Edit media"
            >
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Learning_material.update_material.name' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              [value]="name"
              name="name"
              [(ngModel)]="name"
              required
              formControlName="name"
            ></ion-input>
          </ion-item>

          <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['name'].touched && updateLearningMaterialForm.hasError('required', 'name')"
          >
            {{'Learning_material.update_material.name_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['name'].touched && checkError && updateLearningMaterialForm.hasError('required', 'name')"
          >
            {{'Learning_material.update_material.name_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset" class="margin-top-picker">
            <ion-label class="custom-label-picker" position="floating"
              >{{'Learning_material.update_material.publish_date' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <input
              class="time-picker"
              [owlDateTime]="dt1"
              [owlDateTimeTrigger]="dt1"
              style="margin-top: 5px"
              placeholder=""
              name="published_date"
              required
              formControlName="published_date"
              [(ngModel)]="published_date"
            />
            <owl-date-time #dt1></owl-date-time>
          </ion-item>
          <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['published_date'].touched && updateLearningMaterialForm.hasError('required', 'published_date')"
          >
            {{'Learning_material.update_material.publish_date_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['published_date'].touched && checkError && updateLearningMaterialForm.hasError('required', 'published_date')"
          >
            {{'Learning_material.update_material.publish_date_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item
            class="cursor-pointer md:mt-[9px] md:mb-2"
            (click)="chooseCategory()"
          >
            <div class="h-full w-full">
              <p class="custom-label">
                {{'Media.create_media.category' | translate}}
                <span style="color: red">*</span>
              </p>
              <span *ngIf="mainCategory.value">
                {{mainCategory.value}} - {{specificCategory?.value.name}}
              </span>
            </div>
          </ion-item>
          <!-- <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['category'].touched && updateLearningMaterialForm.hasError('required', 'category')"
          >
            {{'Learning_material.update_material.category_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['category'].touched && checkError && updateLearningMaterialForm.hasError('required', 'category')"
          >
            {{'Learning_material.update_material.category_err' | translate}}
          </p> -->
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Learning_material.update_material.author' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              name="author"
              required
              formControlName="author"
              [(ngModel)]="author"
            >
            </ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['author'].touched && updateLearningMaterialForm.hasError('required', 'author')"
          >
            {{'Learning_material.update_material.author_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['author'].touched && checkError && updateLearningMaterialForm.hasError('required', 'author')"
          >
            {{'Learning_material.update_material.author_err' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Learning_material.update_material.active' | translate}}
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-select
              [value]="isActive"
              name="isActive"
              [(ngModel)]="isActive"
              required
              formControlName="is_active"
            >
              <p *ngFor="let item of isActiveArr">
                <ion-select-option [value]="item.value"
                  >{{item.name}}</ion-select-option
                >
              </p>
            </ion-select>
          </ion-item>
          <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['is_active'].touched && updateLearningMaterialForm.hasError('required', 'is_active')"
          >
            {{'Learning_material.update_material.active_err' | translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['is_active'].touched && checkError && updateLearningMaterialForm.hasError('required', 'is_active')"
          >
            {{'Learning_material.update_material.active_err' | translate}}
          </p>
        </ion-col>
        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Learning_material.update_material.number_of_download' |
              translate}} <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input
              type="text"
              name="number_of_download"
              required
              formControlName="number_of_download"
              [(ngModel)]="number_of_download"
              (ionChange)="checkNumberDownload()"
            >
            </ion-input>
          </ion-item>
          <p
            class="error"
            *ngIf="updateLearningMaterialForm.controls['number_of_download'].touched && updateLearningMaterialForm.hasError('required', 'number_of_download')"
          >
            {{'Learning_material.update_material.number_of_download_err' |
            translate}}
          </p>
          <p
            class="error"
            *ngIf="!updateLearningMaterialForm.controls['number_of_download'].touched && checkError && updateLearningMaterialForm.hasError('required', 'number_of_download')"
          >
            {{'Learning_material.update_material.number_of_download_err' |
            translate}}
          </p>
          <p class="error" *ngIf="!checkDownload">
            <!-- Email is required -->
            {{'Library.create_library.err_phone_number' | translate}}
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <!-- <ion-col size-md="6" size-xs="12" size-sm="12">
            <ion-item lines="inset">
                <ion-label position="floating">{{'Learning_material.update_material.media_type' | translate}} <ion-text color="danger">*</ion-text></ion-label>
                <ion-select [value]="mediaType" name="media_type" [(ngModel)]="mediaType" required (ionChange)="changeMediaType()"
                    formControlName="media_type">
                    <p *ngFor="let item of mediaTypeArr">
                        <ion-select-option [value]="item.value">{{item.name}}</ion-select-option>
                    </p>
                </ion-select>
            </ion-item>
            <p class="error" *ngIf="updateLearningMaterialForm.controls['media_type'].touched && updateLearningMaterialForm.hasError('required', 'media_type')">
              {{'Learning_material.update_material.media_type_err' | translate}}
            </p>
            <p class="error"
                *ngIf="!updateLearningMaterialForm.controls['media_type'].touched && checkError && updateLearningMaterialForm.hasError('required', 'media_type')">
              {{'Learning_material.update_material.media_type_err' | translate}}
            </p>
          </ion-col> -->

        <ion-col size-md="6" size-xs="12" size-sm="12">
          <ion-item>
            <ion-label position="floating"
              >{{'Media.view_media.media_type' | translate}}</ion-label
            >
            <ion-input [value]="media_type | titlecase" readonly></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-xl="6" size-lg="6" size-md="6" size-xs="12" size-sm="12">
          <ion-item lines="inset">
            <ion-label position="floating"
              >{{'Media.create_media.isbn' | translate}}</ion-label
            >
            <ion-input name="isbn" formControlName="isbn"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
          <ion-col class="ion-align-self-center" size-xl="3" size-lg="3" size-md="3" size-xs="12" size-sm="6">
            <ion-item lines="none">
              <input type="file" name="file_media" value="fileupload111" (change)="onChangeMedia($event.target.files)" #g style="display: none;" accept="audio/mpeg, video/mp4, application/pdf">
              <ion-button (click)="g.click()">
                {{'Learning_material.update_material.file_media' | translate}}
              </ion-button>
              <ion-text color="danger">*</ion-text>
              <ion-label>{{title}}</ion-label>
            </ion-item>
            <p class="error" *ngIf="!checkImage1">
              {{'Learning_material.update_material.file_err' | translate}}
            </p>
            
            <p class="error" *ngIf="check_file_type">
              {{'Learning_material.update_material.file_type_err' | translate}}
            </p>
          </ion-col>
        </ion-row> -->

      <ion-row>
        <ion-button class="" type="submit">
          <ion-icon slot="end" name="save"></ion-icon>
          {{'Learning_material.update_material.btn_update' | translate}}
        </ion-button>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
<div [style.display]="image?'block':'none'" class="zoom-image-modal">
  <div
    (click)="closeZoom()"
    class="text-white cursor-pointer text-xl font-medium text-right p-4 absolute top-0 right-0"
  >
    Close
  </div>
  <div class="zoom-image">
    <img [src]="image" alt="" class="modal-zoom-content" />
  </div>
</div>
