.my-custom-alert .alert-wrapper {
    min-width: 400px !important;
}

.button-native{
    padding: 2px;
}

.ion-float-right{
    float: none !important;
    width: 100%;
    margin: 0px;
}

.datatable-row-group datatable-body-cell{
    margin: auto !important;
}

.full-width{
    width: 100%;
    margin: 4px 0px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .ion-float-right{
        float: right !important;
    }
 }

 @media only screen and (min-width: 576px) and (max-width: 769px){ 
    .ion-float-right{
        float: right !important;
    }
 }

 @media only screen and (min-width: 992px) and (max-width: 1199px){ 
    .ion-float-right{
        float: right !important;
    }
 }

 @media only screen and (min-width: 1200px){ 
    .ion-float-right{
        float: right !important;
    }
}

ion-item {
    --background: none;
    opacity:1;
    --inner-padding-end: 0px;
    --padding-start:0px
}

ion-item .item-native{
    padding: 0px !important;
}



.margin-right-active{
    margin-right: 12px;
}