<ion-header class="ion-no-border">
  <ion-toolbar class="new-background-color">
    <ion-grid class="px-4">
      <ion-row>
        <ion-col size="12">
          <ion-title class="pageTitle ion-toolbar">
            {{'Learning_material.list_video' | translate}}
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding ion-content">
    <ion-row>
      <ion-col>
        <div>
          <ngx-datatable
            class="material"
            [limit]="10"
            [rows]="data"
            [rowHeight]="'auto'"
            [columns]="columns"
            [columnMode]="'force'"
            [sortType]="'multi'"
            [headerHeight]="50"
            [footerHeight]="50"
            [scrollbarH]="true"
          >
            <ngx-datatable-column
              [width]="70"
              name="{{'Learning_material.list.no' | translate}}"
              prop="id"
            >
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
                {{rowIndex+1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'Learning_material.list.name' | translate}}"
              prop="name"
            ></ngx-datatable-column>
            <ngx-datatable-column
              name="{{'Learning_material.list.publish_date' | translate}}"
              prop="release_date"
            >
              <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date:'MM/dd/yyyy HH:mm:ss':'UTC'}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column
              name="{{'Learning_material.list.media_type' | translate}}"
              prop="media_type"
            ></ngx-datatable-column>

            <ngx-datatable-column
              name="{{'Learning_material.list.active' | translate}}"
              sortable="false"
              prop="id"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <ion-item class="ion-float-left" lines="none">
                  <ion-toggle
                    class="ion-align-items-center"
                    [(ngModel)]="row.is_active"
                    color="primary"
                    (ngModelChange)="deleteLearningMaterial(row)"
                  ></ion-toggle>
                </ion-item>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column
              name="{{'Learning_material.list.action' | translate}}"
              sortable="false"
              prop="id"
            >
              <ng-template
                let-row="row"
                let-value="value"
                ngx-datatable-cell-template
              >
                <ion-item lines="none">
                  <ion-button
                    class="ion-align-items-center"
                    size="small"
                    fill="outline"
                    [routerLink]="'/learning-material/view/' + row.id"
                    title="{{'Learning_material.view_material.title' | translate}}"
                  >
                    <ion-icon name="eye"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="ion-align-items-center"
                    size="small"
                    fill="outline"
                    [routerLink]="'/learning-material/update/' + row.id"
                    title="{{'Learning_material.update_material.title' | translate}}"
                  >
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button
                    class="ion-align-items-center"
                    size="small"
                    fill="outline"
                    (click)="deleteLearningMaterialReal(row)"
                    title="{{'Learning_material.delete' | translate}}"
                  >
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
              </ng-template>
            </ngx-datatable-column>
            <!-- Footer for datatable -->
            <ngx-datatable-footer>
              <ng-template
                let-rowCount="rowCountPage"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset"
                ngx-datatable-footer-template
              >
                <app-datatable-pager
                  (change)="changePage($event)"
                  [page]="curPage"
                  [visiblePagesCount]="currentVisible"
                  [size]="pageSize"
                  [count]="rowCountPage"
                  [hidden]="false"
                >
                </app-datatable-pager>
              </ng-template>
            </ngx-datatable-footer>
          </ngx-datatable>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
