.ion-float-right {
  float: none !important;
  width: 100%;
  margin: 0px;
}

.full-width {
  width: 100%;
  margin: 4px 0px !important;
}

:host :ng-deep {
  box-sizing: border-box;
  ion-tabs ion-content,
  ion-tabs {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
