<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size="3">
        
        
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-align-self-center"><img src="assets/img/CLICk_Logo.png"></ion-col>
        </ion-row>


        <form (ngSubmit)="onSubmit()" novalidate [formGroup]="form">

          <ion-text *ngIf="success" color="success" padding>{{success}}</ion-text>
       
          <ion-item>
            <ion-label position="floating">{{'Forgot_password.username' | translate}} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input (keyup.enter)="onSubmit()" type="text" formControlName="username"></ion-input>
          </ion-item> 

          <ion-text *ngIf="username.invalid && (isFormSubmitted || username.dirty || username.touched)" color="danger" padding>
            <div *ngIf="username.errors.required">
              {{'Forgot_password.err_username' | translate}}
            </div>
          </ion-text>

          <ion-item>
            <ion-label position="floating">{{'Forgot_password.email' | translate}} <ion-text color="danger">*</ion-text></ion-label>
            <ion-input (keyup.enter)="onSubmit()" type="text" formControlName="email"></ion-input>
          </ion-item> 

          <ion-text *ngIf="email.invalid && (isFormSubmitted || email.dirty || email.touched)" color="danger" padding>
            <div *ngIf="email.errors.required">
              {{'Forgot_password.err_email' | translate}}
            </div>
            <div *ngIf="email.errors.email">
              {{'Forgot_password.err_email_invalid' | translate}}
            </div>
          </ion-text>

          <ion-text *ngIf="error" color="danger" padding>{{error}}</ion-text>
          
     
          <div class="ion-padding-top">
            <ion-button expand="block" type="submit" class="ion-no-margin">{{'Forgot_password.name_button' | translate}}</ion-button>
          </div>
        
        </form>

        <div class="ion-padding-top ion-text-right">
          <a routerDirection="root" [routerLink]="'/auth/login'">{{'Forgot_password.back' | translate}}</a>
        </div>
        

       
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
